.cart-wrapper{
    border: 1px solid black;
    width: 200px;
}
.text-wrapper{
    padding: 5px;
}
.image-wrapper img{
    width: 100px;
}
.btn-wrapper button{
    background-color: greenyellow;
    padding: 10px;
}
.add-to-cart img{
    width: 40px;
    position: absolute;
    top: 1%;
    right: 1%;
}